{% extends 'catalog/base.html' %}
{% block content %}

<form method='post' enctype="multipart/form-data">
    <div class="row">
        <div class="col-3">
        </div>

        <div class="col-6">
            <p class="card-text"> Пройдите регистрацию </p>
            <div class="card">

                <div class="card-body">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        Войти
                    </button>
                    <a class="btn btn-primary" href="{% url 'users:reset_password' %}"
                       role="button">Восстановить пароль</a>

                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}